node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos generados por Vite
dist/
node_modules/
.cache/
vite.config.js

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por el editor de código
.vscode/
.idea/

# Archivos de configuración
.env
.env.local

# Dependiendo de tu entorno de desarrollo, también puedes agregar:
# Para Yarn
yarn.lock

# Para npm
package-lock.json

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
log/
logs/
*.log
*.log.*
*.swp
*.bak
*.tmp

# Carpeta de respaldo (backup)
.backup/

# Archivos de configuración específicos de ESLint
.eslintrc.cjs

# Archivos generados por el gestor de paquetes npm
package-lock.json

# Archivo .gitignore
.gitignore