.container_landing {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding-top: 2.5rem;
}

.landing_content {
  max-width: 60%;
  max-height: 60%;
}

.landing_card h3 {
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  animation: typing 3s steps(30, end) 1;
}

.landing_card p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.landing_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_img img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* Fix for IE9 and earlier */
}


.logo_img img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.icons_landing {
  display: flex;
  gap: 1rem;
  color: var(--color-primary);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .container_landing {
    flex-direction: column;
  }

  .landing_card {
    max-width: 80%;
  }

  .landing_img {
    max-width: 80%;
    order: 1;
  }

  .landing_content {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 600px) {
  .container_landing {
    grid-template-columns: 100%;
  }

  .landing_img {
    flex-basis: 40%;
  }
}

@media (min-width: 1024px) {
  .container_landing {
    max-width: 60rem;
  }
}
