.about {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 50px 2px;
  max-width: 600px;
  text-align: center;
  color: black;
}

.about h2 {
  font-size: 4rem;
  text-align: left;
}

.about p {
  font-size: 2rem;
}
