.skills_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

.skills_container > div{
    background: var(--color-bg-variant);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    box-shadow: var(--shadow-elevation-medium);
}

.skills_container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default
}

.skills_container > div h3{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-secondary);
}

.soft_skills {
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 2rem;
  padding: 1rem;
  box-shadow: var(--shadow-elevation-medium);
}

.soft_details {
  display: flex;
  gap: 1.6rem;
}

#soft_icons {
  width: 4rem;
  height: 4rem;
  color: var(--color-primary-variant);
  position: absolute;
  margin-left: 8rem;
  opacity: 0.2;
}

#tool_icons {
  width: 2rem;
  height: 3rem;
}

.tools_details {
  display: grid;
  place-items: center;
  align-content: center;
}

.tools_hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: var(--transition);
}

.tools_show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

@media(prefers-reduce-motion){
    .tools_hidden{
        transition: none;
    }
}

@media screen and (max-width: 1024px){
    .skills_container{
        grid-template-columns: 1fr;
    }
    
    .skills_container >div{
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    .soft_skills{
        padding: 1rem;
    }

    #soft_icons{
        margin-left: 4.5rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 600px){
    .skills_container{
        gap: 1rem;
    }
    
    .skills_container >div{
        width: 100%;
        padding: 2rem 1rem;
    }

    #soft_icons{
        margin-left: 4rem;
    }
}