.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

/* Border animation for the image */
.about_me {
  width: 18rem;
  height: 18rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: linear-gradient(
    315deg,
    var(--color-bg-variant),
    var(--color-primary)
  );
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.about_me::before {
  content: "";
  position: absolute;
  inset: -1rem 6rem;
  background: linear-gradient(315deg, var(--color-bg-variant), var(--color-secondary));
  transition: var(--transition);
  animation: rotation 8s linear infinite;
}

.about_me:hover::before{
  inset: -0.6rem 0rem;
}

.about_me::after{
  content: '';
  position: absolute;
  inset: 6px;
  background: #183133;
  border-radius: 100%;
  z-index: 1;
}
/* Border animation for the image */

.about_me-img {
  position: absolute;
  width: 17rem;
  height: 17rem;
  border-radius: 100%;
  overflow: hidden;
  z-index: 2;
}

.about_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
}

.about_card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  transition: var(--transition);
  max-width: 70%;
  max-height: 100%;
  margin-left: 2.5rem;
  box-shadow: var(--shadow-elevation-medium);
}

.about_card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

#about_icon {
  color: var(--color-secondary);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about_card h5 {
  font-size: 1.2rem;
}

.about_card small {
  font-size: 1rem;
  color: var(--color-light);
}

.about_content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
  font-size: 1.2rem;
}

.btn_po{
  position: absolute;
  right: 12.8%;
  background-color: var(--color-bg-variant);
  color: var(--color-white);
}

@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_me {
    width: 18rem;
    height: 18rem;
    margin: 2rem auto 4rem;
  }

  .about_content p {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .about_me {
    width: 18rem;
    height: 18rem;
    margin: 0rem auto 3rem;
  }

  .about_cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about_content {
    text-align: center;
  }

  .about_content p {
    margin: 1.5rem 0;
  }
}
