* {
  /* screen size */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* Colors for the web-site */
  --color-bg: #183133c5;
  --color-bg-variant: #04432cdb;
  --color-primary: #36ff79ed;
  --color-primary-variant: #08f0dda0;
  --color-secondary: #a9e2a7ed;
  --color-white: #fff;
  --color-light: #98fef0e7;
  --shadow-color: 185deg 56% 5%;

  /* Smooth the mini animations */
  --transition: all 400ms ease;

  /* Size of containers */
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  /* Box shadows */
  --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.28),
    -0.1px 2.8px 3.6px -0.7px hsl(var(--shadow-color) / 0.43),
    -0.3px 9.5px 12.3px -1.4px hsl(var(--shadow-color) / 0.78);
}

html {
  /* Smooth scroll */
  scroll-behavior: smooth;
}

body {
  /* For background and font */
  color: var(--color-white);
  font-family: "Dosis", sans-serif, "Kreon";
  line-height: 1.7;
  background-image: url(./assets/pattern-bg.png);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-bg-variant);
  transition: var(--transition);
  box-shadow: var(--shadow-elevation-medium);
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-bg-variant);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-bg-variant);
  color: var(--color-white);
}

a {
  /* Little animation for links */
  transition: var(--transition);
  color: var(--color-primary-variant);
}

a:hover {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
}

section > h2,
section > h5 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

section > h2 {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-primary);
}

img {
  display: block;
  width: 100%;
  object-fit: fill;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

#text-light {
  color: var(--color-light);
}

#title-section {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

#icon {
  /* Making icons a lil bit more big (not the container) */
  width: 2rem;
  height: 2rem;
}

/* Splash screen */
.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.splash-dot {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

.first {
  animation-delay: 0ms;
}

.second {
  animation-delay: 200ms;
}

.third {
  animation-delay: 400ms;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    transform: translateY(-50%);
    background-color: var(--color-bg-variant);
  }
  50% {
    transform: scale(1.4);
    transform: translateY(50%);
    background-color: var(--color-primary);
  }
  100% {
    transform: scale(1);
    transform: translateY(-50%);
    background-color: var(--color-secondary);
  }
}

/* Responsive sizes */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 0.3rem;
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
